# --- Robotik ve Fizik Simülasyonu ---
gymnasium==1.0.0
mujoco>=3.0.0
shimmy>=2.0.0

# --- Yapay Zeka ve Reinforcement Learning ---
stable-baselines3[extra]>=2.3.0
torch>=2.2.0
tensorboard>=2.15.0

# --- Kullanıcı Arayüzü (GUI) ---
PyQt6>=6.6.1
qtawesome>=1.3.1

# --- Veri İşleme ve Sistem ---
pandas>=2.2.0
numpy>=1.26.0
GPUtil>=1.4.0

# --- Yardımcı Araçlar ---
mediapipe>=0.10.10
matplotlib>=3.8.0